Variables

In [3]:
#Assigning  values to the variables
name = "Ritesh Verma"
age = 21
cgpa = 9.8

Data Types

In [4]:
#Integer
num = 10

#Inbuilt functions and operations for Integers:
print(abs(num)) #Absolute value

10

In [ ]:
print(bin(num)) #Binary representation

0b1010

In [ ]:
print(hex(num)) #Hexadecimal representation

0xa

In [ ]:
print(pow(num,2)) #Power Function (num^2)

100

In [ ]:
print(divmod(num,3))   #Quotient and Remainder

(3, 1)

In [ ]:
#Float
price = 99.99

#Inbuilt functions and operations for Floats:
print(round(price)) #Rounding

100

In [ ]:
print(abs(price))   #absolute value

99.99

In [ ]:
print(int(price))   #convert to integer

99

In [ ]:
print(float("123.45"))  #convert string to float

123.45

In [ ]:
print(price.is_integer()) #check if float is an integer

False

In [ ]:
#String
greeting = "Hello, World!"

#Inbuilt functions and operations for String:

print(greeting.lower()) #convert to lowercase

hello, world!

In [ ]:
print(greeting.upper()) #convert to uppercase

HELLO, WORLD!

In [ ]:
print(greeting.replace("World","Universe")) #replace substring

Hello, Universe!

In [ ]:
print(greeting.split(",")) #split string into a list

['Hello', ' World!']

In [ ]:
print(greeting.find("World")) #find substring

7

In [ ]:
print(len(greeting)) #length of string

13

In [ ]:
#List
fruits = ["apple", "banana", "cherry"]

#Inbuilt functions and operations for List:
print(fruits.append("orange")) #add element to the end of the list

None

In [ ]:
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits.extend(["mango", "kiwi"]) #add multiple elements to the end of the list

In [ ]:
print(fruits)

['apple', 'banana', 'cherry', 'orange', 'mango', 'kiwi']

In [ ]:
fruits.remove("banana") #remove element from the list

In [ ]:
print(fruits)

['apple', 'cherry', 'orange', 'mango', 'kiwi']

In [ ]:
fruits.pop() #remove last element

'kiwi'

In [ ]:
print(fruits)

['apple', 'cherry', 'orange', 'mango']

In [ ]:
fruits.sort()   #sort the list

In [ ]:
print(fruits)

['apple', 'cherry', 'mango', 'orange']

In [ ]:
print(len(fruits))    #length of the list

4

In [ ]:
print(fruits.index("cherry"))   #finding index

1

In [ ]:
print("apple" in fruits)  #checking if element is in the list

True

In [ ]:
#Tuple
coordinates = (10.0, 20.0)
#Inbuilt functions and operations for Tuple:
print(coordinates[0]) #access element by index

10.0

In [ ]:
print(coordinates.count(10.0)) #count occurrences of an element

1

In [ ]:
print(coordinates.index(20.0)) #find index of an element

1

In [ ]:
print(len(coordinates)) #Length of a tuple

2

In [ ]:
li = list(coordinates) #convert tuple to list
li

[10.0, 20.0]

In [ ]:
li[1] = "hi"

In [ ]:
li

[10.0, 'hi']

In [ ]:
coordinates = tuple(li)
coordinates

(10.0, 'hi')

In [ ]:
# Dictionary
person = {"name": "John", "age": 30}

#Inbuilt functions and operations for Dictionary:
print(person.keys())  #Get all keys

dict_keys(['name', 'age'])

In [ ]:
print(person.values()) #Get all values

dict_values(['John', 30])

In [ ]:
print(person.items()) #Get all key-value pairs

dict_items([('name', 'John'), ('age', 30)])

In [ ]:
print(person.get("name")) #Get value for a key

John

In [ ]:
person.update({"height": 180})  #Update dictionary with another dictionary
person

{'name': 'John', 'age': 30, 'height': 180}

In [ ]:
person.pop("age") #Remove key-value pair
person

{'name': 'John', 'height': 180}

In [ ]:
print(len(person))

2

In [ ]:
#set
se={1,2,3,4}

In [ ]:
#not allow duplicates
se={1,1,1,1,1}
se

{1}

In [ ]:
#length
print(len(se))

1

In [ ]:
#add
se.add(9)
se

{1, 9}

In [ ]:
se.update([5,6,7])
se

{1, 5, 6, 7, 9}

In [ ]:
se.remove(5)
se

{1, 6, 7, 9}

In [ ]:
#Boolean
is_active = 1

#Inbuilt functions and operations for Boolean:
print(int(is_active))   #Convert to integer (1 for True, 0 for False)

In [ ]:
print(bool(0))      #Convert integer to boolean (False)

In [ ]:
print(bool(1))      #Convert integer to boolean (True)

In [ ]:
print(bool("Hello"))    #Convert string to boolean (True)

In [ ]:
print(is_active and False)    #Logical AND

In [ ]:
print(is_active or False)    #Logical OR

In [ ]:
print(not is_active)    #Logical NOT

**Conditionals**

In [ ]:
# Basic if-elif-else statement
age = 20

if age < 18:
    print("You are a minor.")
elif age >= 18 and age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

In [ ]:
# Checking Even or Odd Number
number = 42

if number % 2 == 0:
    print("Even")
else:
    print("Odd")

In [ ]:
#Grade Evaluation
score = 85

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'

**Loops**

In [ ]:
# For loop
for i in range(5):
    print(i)

In [ ]:
#Iterating over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

In [ ]:
#Iterating over a string
greeting = "Hello"

for char in greeting:
  print(char)

In [ ]:
#Iterating over a dictionary
person = {"name":"John","age":30,"city":"New-York"}

for key, value in person.items():
  print(f"{key}: {value}")

In [ ]:
#Using the `range()` function with a step
for i in range(0,10,2):
  print(i)

In [ ]:
#Nested for Loop
for i in range(3):
  for j in range(2):
    print(f"i = {i}, j = {j}")

In [ ]:
#Using the enumerate() function
fruits = ["apple", "banana", "cherry"]

for i, fruit in enumerate(fruits):
  print(f"Index: {i}, Fruit: {fruit}")

In [ ]:
#While Loop
count = 0
while count < 5:
  print(count)
  count += 1

In [ ]:
#While loop with break
count = 0
while True:
  print(count)
  count += 1
  if count >= 5:
    break

In [ ]:
#While Loop with continue
count = 0
while count < 10:
  count += 1
  if count % 2 == 0:
    continue
  print(count)

In [ ]:
#Using a while loop for Validation
password = ""
while len(password) < 8:
  password = input("Enter a password: ")
  if len(password) < 8:
    print("Password must be at least 8 characters long.")
print("Password Accepted")